.imageGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
}

.imageGrid img {
    padding: 5px;
}

.imageGrid img:hover {
    cursor: pointer;
    background-color: aliceblue;
}

.button {
    font-weight: 600;
    margin: 0 auto;
    background-color: rgb(100, 166, 228);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 0.5rem;
    width: 10rem;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(111, 178, 242);
}

.mainContainer {
    margin: 10px;
    max-width: 840px;
    display: flex;
    align-items: flex-end;
    gap: 10px;
    /* background-color: #d3b4b4; */
}

.shoppingCart {
    scale: 1.25;
}

.cartItems {
    font-size: 14px;
    width: 100%;
    /* background-color: #7bafc7; */
}
